<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Website</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="d-flex w-100">
          <div class="d-flex me-auto">
            <span class="navbar-brand mb-0 h1">Stock Website</span>
            <a href="/blog/test" class="btn btn-outline-light me-2">Home</a>
            <!-- <a href="#" class="btn btn-outline-light me-2">About</a> -->
            <a href="/blog/calculate_strategy" class="btn btn-outline-light me-2">HW1</a>
            <a href="/blog/rsi_backtest/" class="btn btn-outline-light me-2">HW2</a>
            <a href="/blog/stock_selection" class="btn btn-outline-light me-2">Stock Selection</a>
            <a href="/blog/stock_pricing" class="btn btn-outline-light me-2">HW9</a>
            <a href="/blog/stock_peratio" class="btn btn-outline-light me-2">HW10</a>
            <a href="/blog/ceiling_floor" class="btn btn-outline-light me-2">HW11</a>
            <a href="/blog/kd_macd_bool" class="btn btn-outline-light me-2">HW12</a>
            <a href="/blog/rsi_adx_dmi" class="btn btn-outline-light me-2">HW13</a>
          </div>
          <div class="d-flex">
            <!-- <a href="#" class="btn btn-outline-light me-2">Contact</a> -->
            {% if user.is_authenticated %}
              <span class="navbar-text me-3">Welcome, {{ user.username }}!</span>
              <a href="{% url 'monitor' %}" class="btn btn-outline-light me-2">Monitor</a>
              <!-- <a href="#" class="btn btn-outline-light">Profile</a> -->
              <a href="{% url 'logout' %}" class="btn btn-outline-light ms-2">Logout</a>
            {% else %}
              <a href="{% url 'login' %}" class="btn btn-outline-light me-2">Login</a>
              <a href="{% url 'register' %}" class="btn btn-outline-light">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}
  </body>
</html>
